:root {
    --soft: 'Noto Sans', sans-serif;
    --hard: 'PT Serif', serif;
    --baseColor: #002684;
    --light: #6a6d75;
}

* {
    padding: 0;
    margin: 0;
}

#active {
    color: var(--baseColor);
    transform: translateY(-2px);
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 8%);
    max-height: 48px;
    padding: 10px 0;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo-link {
    width: 120px;
    height: 50px;
}

#logo {
    width: 100%;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 60%;
}

nav a {
    text-decoration: none;
    display: block;
    font-weight: 400;
    color: #6a6d75;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    height: 26px;
    line-height: 26px;
    padding-top: 2px;
    margin-right: 16px;
    border-bottom: 2px solid transparent;
    font-family: var(--soft);
    transition: 0.3s;
}

nav a:hover {
    color: var(--baseColor);
    transform: translateY(-2px);
}

.nav-btn {
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    outline: none;
    border: 0px;
    border-radius: 2px;
}

.regestration {
    text-decoration: none;
}

#login {
    margin-right: 10px;
    color: #6a6d75;
    background: none;
    cursor: pointer;
}

#login:hover {
    color: var(--baseColor);
}

#signUp {
    background-color: #f26226;
    border-color: #f26226;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#signUp:hover {
    background-color: #ffdaca;
    color: #ff4d00;
}

.welcome-container {
    display: none;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i,
button {
    cursor: pointer;
}

.welcome i {
    color: var(--baseColor);
    font-size: 30px;
}

.welcome i:hover {
    color: #366fff;
}

.welcome #logout {
    padding: 10px 10px;
    border: none;
    margin: 0 10px;
    background-color: #002684;
    color: #fff;
    border-radius: 3px;
    transition: 0.3s;
}

.welcome #logout:hover {
    background-color: #c8d7ff;
    color: var(--baseColor);
}

.welcome #name {
    color: var(--light);
    font-family: var(--soft);
    text-decoration: underline;
}

.top-container {
    position: relative;
    margin-bottom: 50px;
}

.top-container-img {
    height: 100vh;
    background-image: url("https://media.blueapron.com/assets/registration/homepage/desktop-splash-v2.webp?height=800&quality=90");
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.top-container-content {
    margin-left: 40px;
    height: 205px;
    width: 400px;
    overflow: hidden;
    vertical-align: baseline;
}

.top-container-content h1 {
    font-size: 50px;
    color: var(--baseColor);
}

.btn {
    font-size: 16px;
    padding: 0 40px;
    height: 50px;
    margin-top: 35px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #002684;
    letter-spacing: 2.5px;
    color: #fff;
    border: 1px solid#002684;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: transparent;
    color: var(--baseColor);
}

/* home page styles  */
.home-page-section {
    text-align: center;
    margin: 64px 64px 80px 64px;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
    color: #002c9b;
    font-family: var(--hard);
}

.section-description {
    margin: auto;
    margin-top: 10px;
    max-width: 343px;
    font-family: var(--soft);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: #303236;
}

.home-page-cards {
    display: flex;
    justify-content: space-around;
    margin: 40px 0 36px;
}

.home-page-cards>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 28px;
}

.home-page-cards>div img {
    margin: 0 14px 16px;
    max-width: 100%;
}

.home-page-cards>div .img-title {
    font-family: var(--soft);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #303236;
    margin-bottom: 12px;
}

.home-page-cards>div .img-subtitle {
    font-family: var(--soft);
    font-size: 15px;
    line-height: 1.33;
    color: #303236;
    font-weight: normal;
    text-align: center;
    margin: 0
}

.get-started {
    font-family: var(--soft);
    font-size: 16px;
}

.get-started>span {
    font-weight: bold;
}

.get-cooking-btn .btn {
    margin-top: 24px;
    letter-spacing: 2.5px;
    font-size: 16px;
    padding: 0 40px;
    text-decoration: none;
    font-family: var(--soft);
}

/* weekly options section  */
.section-main-title {
    color: #002684;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 5.4px;
    text-align: center;
    font-family: var(--soft);
}

.section-sub-title {
    font-family: var(--soft);
    font-size: 48px;
    color: #00a0df;
    text-align: center;
}

.weekly-photo-section {
    display: grid;
    grid-template-columns: repeat(5, minmax(168px, 1fr));
    column-gap: 31px;
    row-gap: 48px;
    justify-content: center;
    margin: 40px 41px 38px 41px;
}

.weekly-photo-section img {
    width: 100%;
}

.weekly-photo-section .title {
    font-family: var(--soft);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #002c9b;
    text-transform: uppercase;
    text-align: center;
}

.weekly-photo-section .sub-title {
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.33;
    color: #6a6d75;
    text-align: center;
    font-family: var(--soft);
}

.browse-our-menus {
    display: block;
    width: 260px;
    height: 50px;
    border-radius: 24.8px;
    border: solid 2px #002c9b;
    color: #002c9b;
    background-color: #fff;
    margin: 38px auto 46px;
    letter-spacing: 2.5px;
    box-sizing: border-box;
    padding: 0;
    line-height: 46px;
    font-size: 16px;
    font-family: var(--soft);
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.browse-our-menus:hover {
    color: #fff;
    background-color: #002684;
}

/* testimonial start  */
.testimonial-section {
    min-height: 550px;
    max-height: 536px;
    margin: 46px 0 64px;
    overflow: hidden;
    position: relative;
    background-image: url("https://media.blueapron.com/assets/registration/homepage/cooking-pot.webp?height=600&quality=90");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-card {
    max-width: 614px;
    background-color: #fff;
}

.testimonial-card .title {
    padding-top: 40px;
    font-family: var(--soft);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #00a0df;
}

.testimonial-text {
    font-family: var(--hard);
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #002c9b;
    margin: 28px auto 0;
    max-width: 509px;
    min-width: 312px;
    padding: 0;
    padding: 0 52px;
}

.testimonial-line {
    width: 100px;
    height: 4px;
    background-color: #00a0df;
    margin: 32px auto 29px;
}

.testimonial-user-name {
    font-family: var(--soft);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-align: center;
    color: #002c9b;
    padding-bottom: 39px;
    text-transform: uppercase;
}

/* carbon neutral section  */
.carbon-neutral-section {
    position: relative;
    margin: 0 auto 64px;
    overflow: hidden;
    width: 100vw;
}

.carbon-neutral-section img {
    display: block;
    margin: auto;
}

.carbon-neutral-card {
    background: transparent;
    width: 614px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carbon-neutral-card img {
    margin: 0 auto 20px;
    display: block;
}

.carbon-neutral-card .title {
    font-family: var(--hard);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-bottom: 28px;
}

.carbon-neutral-card .sub-title {
    font-family: var(--soft);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.8px;
    text-align: center;
    color: #002684;
    text-transform: uppercase;
    margin: 9px 0 79px;
}

.carbon-neutral-btn {
    display: block;
    width: 112px;
    border-radius: 20.1px;
    background-color: #fff;
    margin: 79px auto 0;
    height: 40px;
    font-family: var(--soft);
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.01px;
    text-align: center;
    color: #002c9b;
    line-height: 42.72px;
    padding: 0 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
}

.carbon-neutral-btn:hover {
    color: #fff;
    background-color: var(--baseColor);
}

/* getting started section  */
.getting-started-section {
    height: 340px;
    overflow: hidden;
    position: relative;
}

.getting-started-section img {
    height: 100%;
    min-width: 900px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    position: relative;
}

.getting-started-card {
    padding: 40px 0 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 550px;
    height: 218px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.getting-started-card .title {
    font-family: var(--hard);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #002c9b;
}

.getting-started-card .sub-title {
    font-family: Cera Pro;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #6a6d75;
}

.get-cooking-btn {
    display: block;
    width: 234px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #002684;
    margin: 24px auto;
    letter-spacing: 2.5px;
    padding: 0 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: var(--soft);
    text-transform: uppercase;
    transition: 0.3s;
}

.get-cooking-btn:hover {
    background-color: #0045f5;
}

input:focus {
    outline: none;
}

/* footer  */
footer {
    background-color: #fafbfc;
    -webkit-box-shadow: inset 0 1px 0 0 #eceef2;
    box-shadow: inset 0 1px 0 0 #eceef2;
    color: #6a6d75;
    font-family: var(--soft);
    overflow: hidden;
}

footer .container {
    margin: auto;
    display: grid;
    grid-template: 140px / repeat(3, 1fr);
    padding-top: 30px;
}

footer .container>div {
    height: 110px;
    width: 100%;
}

footer .container h3 {
    color: #303236;
    font-style: normal;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.stay-connected .socials a i {
    font-size: 28px;
    color: #303236;
    letter-spacing: 20px;
    transition: 0.3s;
}

.stay-connected .socials a i:hover {
    color: var(--baseColor);
    transform: translateY(-3px);
}

.socials {
    text-align: center;
}

footer .container .sign-up {
    border-left: 1px solid #e4e6eb;
    border-right: 1px solid #e4e6eb;
    text-align: center;
}

footer .container .sign-up form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container .sign-up form .email-input {
    width: 60%;
    color: #6a6d75;
    padding: 10px 15px;
    margin-top: 0;
    background-color: #ffffff;
    height: 20px;
    line-height: 20px;
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 0 0 1px #e4e6eb;
    border: none;
}

footer .container .sign-up form .go-btn {
    border-radius: 0 4px 4px 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    float: left;
    margin-top: 0;
    padding: 10px 15px;
    width: 25px;
    height: 20px;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
    border: 0 none transparent;
    background-color: #245091;
    color: #fff;
    cursor: pointer;
}

footer .container .sign-up form .go-btn:hover {
    background-color: var(--baseColor);
}

footer .container .sign-up p {
    margin-top: 20px;
    font-size: 15px;
}

.from-the-blog>h3>a {
    text-decoration: none;
    color: #303236;
}

.from-the-blog>h3>a:hover {
    text-decoration: underline;
}

.img-text {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: auto;
}

.img-text img {
    width: 70px;
    border-radius: 4px;
}

.img-text h4 {
    font-size: 13px;
    font-weight: 100;
    color: #303236;
}

.img-text h4:hover {
    text-decoration: underline;
}

.footer-bottom-row {
    height: auto;
    line-height: 32px;
    padding: 32px 0 32px 30px;
    margin-top: 32px;
    color: #ffffff;
    font-family: var(--soft);
    background-color: #0f346c;
}

.container-row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
}

.container-row-1 li {
    transition: 0.3s;
}

.container-row-1 li:hover {
    transform: translateX(5px);
}

.footer-bottom-row .footer-bottom-row-container ul {
    margin-left: 3%;
    max-width: 140px;
    list-style: none;
}

.footer-bottom-row .footer-bottom-row-container ul li a {
    text-decoration: none;
    display: block;
    color: #a1bce6;
    font-size: 14px;
    font-family: var(--soft);
}

.terms-policy ul {
    text-align: right;
}

.footer-bottom-row-container>p a {
    color: #a1bce6;
}

/* home page ends here  */

/* menu page starts form here  */
.search-bar {
    background: #f7f7f7;
    padding: 10px 0;
    border-bottom: solid 1px #e4e6eb;
}

.search-bar * {
    font-family: var(--soft);
}

.search-bar-form>.text {
    width: 20%;
}

.search-bar-form>.text>h1 {
    color: var(--baseColor);
    font-family: var(--soft);
}

.search-input-container {
    width: 60%;
}

.search-input-container>input {
    border: 1px solid rgb(0 0 0 / 5%);
    width: 100%;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 5%) inset;
    padding: 0 10px;
    font-size: 16px;
    color: var(--light);
    border: 3px;
}

.go-btn-container {
    width: 10%;
}

.go-btn-container>input {
    background-color: var(--baseColor);
    color: #fff;
    border: 0px;
    font-size: 18px;
    line-height: 47.88px;
    height: 47.88px;
    padding: 0 20px;
    cursor: pointer;
    border-radius: 2px;
}

.search-bar-form {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* meals container  */
.meals-section-conainer {
    display: flex;
    justify-content: space-between;
    margin: 30px 40px;
}

.meals-cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 15px;
}

.meals-cards-container>div {
    width: 300px;
    cursor: pointer;
    transition: 0.3s;
}

.meals-cards-container>div:hover {
    transform: scale(1.05);
}

.meals-cards-container>div>img {
    width: 100%;
    height: 182px;
    object-fit: cover;
}

.meals-cards-container>div>h3 {
    font-family: var(--soft);
    font-size: 16px;
    color: #303236;
}

.meals-cards-container>div>p {
    font-family: var(--soft);
    color: var(--light);
    font-size: 14px;
}

#pricing {
    font-family: var(--soft);
    display: flex;
    justify-content: space-between;
}

#discount {
    color: rgb(0, 163, 0);
}

#price {
    margin-right: 5px;
    color: red;
}

.meals-section {
    position: relative;
}

.meals-section-conainer {
    position: relative;
}

.meals-filters-container {
    /* position: fixed;
    width: 400px;
    top: 50px;
    left: 0; */
}

.meals-filters-container>div {
    margin-bottom: 30px;
    padding-top: 15px;
    border-top: solid #d3d5db 1px;
}

.meals-filters-container>div p {
    cursor: pointer;
    font-family: var(--soft);
    font-size: 18px;
}

.meals-filters-container .filter-title:hover {
    text-decoration: underline;
}

.meals-filters-container>div ul {
    list-style: none;
}

.meals-filters-container>div ul li {
    color: var(--light);
    font-family: var(--soft);
    transition: 0.3s;
    cursor: pointer;
}

.meals-filters-container>div ul li:hover {
    transform: translateX(5px);
    color: red;
}

#filter-heading {
    font-family: var(--soft);
    font-size: 28px;
    margin-bottom: 10px;
}

/* menu page ends here  */
/* meal details start form here  */
.meal-detail-section {
    margin-bottom: 40px;
}

.meal-details-container {
    width: 90%;
    margin: 30px auto;
    display: flex;
}

#meal-image {
    width: 50%;
    object-fit: cover;
}

.text-section {
    padding-left: 20px;
    font-family: var(--soft);
}

.text-section #title {
    color: var(--baseColor);
    font-family: var(--hard);
    font-size: 40px;
}

.text-section #sub-title {
    color: var(--light);
    margin: 10px 0 30px 0;
}

.text-section span {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
}

.text-section #description {
    color: var(--light);
    font-weight: lighter;
    line-height: 30px;
    margin-bottom: 30px;
}

.text-section #add-to-cart {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 6px;
    border: 0;
    background-color: var(--baseColor);
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.text-section #add-to-cart:hover {
    background-color: rgb(199, 199, 255);
    color: var(--baseColor);
}

/* meals details end here  */
/* signup starts here  */
.sign-up-section {
    height: 90vh;
    background-image: url("https://media.blueapron.com/assets/signup/landing/background-landing-signup.jpg?quality=80&width=1440");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up-container {
    background-color: #fff;
    width: 40%;
    padding: 30px;
    border-radius: 3px;
    font-family: var(--soft);
}

.sign-up-container h1 {
    color: var(--baseColor);
    font-size: 30px;
    margin-bottom: 20px;
}

#sign-up-form,
#login-form {
    display: flex;
    flex-direction: column;
}

#sign-up-form label,
#login-form label {
    margin-bottom: 4px;
}

#sign-up-form input,
#login-form input {
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #d3d5db;
    border-radius: 2px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#sign-up-form input[type="submit"],
#login-form input[type="submit"] {
    cursor: pointer;
    background-color: var(--baseColor);
    color: #fff;
    transition: 0.3s;
    padding: 6px 10px;
    border: 0;
}

#sign-up-form input[type="submit"]:hover,
#login-form input[type="submit"]:hover {
    background-color: #d4e0ff;
    color: var(--baseColor);
}

.or-options {
    text-align: center;
}

.other-options a {
    font-size: 30px;
    color: var(--baseColor);
}

.clickhere {
    text-decoration: underline;
}

/* sign up and logn ends here  */
/* cart page starts form here  */
.cart-details-container {
    font-family: var(--soft);
    margin: 10px auto 40px auto;
    width: 80vw;
}

.cart-details-container h1 {
    text-align: center;
    margin: 20px 0;
}

.cart-items-table {
    width: 100%;
    margin-bottom: 20px;
}

.cart-items-table thead th {
    border-bottom: 1px solid var(--light);
}

.cart-items-table tbody tr td {
    padding: 20px 0 6px 0;
}

.cart-items-table tbody tr td img {
    /* width: 100%; */
    width: 80px;
    height: 70px;
    object-fit: cover;
}

.cart-items-table tbody tr .item {
    width: 50%;
}

.cart-items-table tbody tr td {
    border-bottom: 1px solid var(--light);
}

.cart-items-table tbody tr .item .itemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.cart-items-table tbody tr .item .itemText .item-title {
    font-weight: bold;
    font-size: 18px;
}

.cart-items-table tbody tr .item .itemText .item-subTitle {
    color: var(--light);
    font-size: 15px;
}

.cart-items-table tbody tr td .item-container {
    display: flex;
}

.cart-items-table tbody tr td:nth-child(2) {
    text-align: center;
}

.cart-items-table tbody tr td:nth-child(3) {
    text-align: center;
    font-size: 20px;
}

.cart-items-table tbody tr td:nth-child(3) span {
    margin: 0 10px;
}

.cart-items-table tbody tr td:nth-child(3) button {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.cart-items-table tbody tr td:nth-child(3) button:hover {
    background-color: var(--baseColor);
    color: #fff;
}

.cart-items-table tbody tr td:nth-child(4) {
    text-align: center;
}

.cart-items-table tbody tr td:nth-child(4) span {
    margin-right: 10px;
}

.cart-items-table tbody tr td:nth-child(4) i:hover {
    cursor: pointer;
    color: var(--baseColor);
}

.single-bill {
    margin-right: 50px;
}

.total-bill {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: var(--soft);
}

.bill-table th {
    text-align: left;
}

.bill-table tr td {
    text-align: right;
    padding-left: 40px;
}

#check-out {
    width: 200px;
    font-size: 30px;
    border: none;
    background-color: rgb(58, 58, 58);
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

#check-out:hover {
    background-color: #000;
}

#grand-total {
    font-size: 26px;
    text-decoration: underline;
}

.hamburger-header {
    display: none;
}
/* payment page starts here  */
.payment-section{
    background-image: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466__340.jpg");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}
.payment-form{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#pay-form{
    width: 400px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 4px;
    font-family: var(--soft);
    display: flex;
    flex-direction: column;
}
#pay-form h1{
    color: var(--light);
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}
#pay-form label{
    display: block;
    margin-bottom: 5px;
}
#pay-form input{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 15px 10px;
    border: 1px solid #d3d5db;
    border-radius: 2px;
}
#pay-form .codes{
    display: flex;
    justify-content: space-between;
}
#pay-form .expiry-date{
    display: flex;
}
#pay-form .expiry-date input{
    width: 50%;
}
#pay-form .codes input{
    width: 80%;
}
#pay-form #pay{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 245, 169);
    color: #fff;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    border: none;
}
#pay-form #pay:hover{
    background-color: rgb(4, 172, 114);
}
.order-section{
    font-family: var(--soft);
    margin-top: 20px;
    width: 100vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.order-section .container{
    width: 80vw;
    margin: auto;
}
.order-section .col-1{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.794) 0px 3px 8px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #fff;
}
.order-section .col-1 img{
    width: 100px;
}
.order-details{
    display: flex;
}
.order-section .col-1 #title{
    color: var(--baseColor);
    font-size: 24px;
}
.order-section .col-1 #sub-title{
    color: var(--light);
    font-size: 18px;
}
#date{
    font-size: 20px;
}
#amount{
    font-size: 23px;
}

/* media queries  */
@media screen and (max-width: 768px) {
    .logo-link {
        width: 80px;
        height: 50px;
    }

    nav a {
        margin-right: 10px;
        font-size: 12px;
    }

    .nav-btn {
        font-size: 10px;
        /* padding: 5px 10px; */
        /* height: 30px; */
    }

    .weekly-photo-section {
        display: grid;
        grid-template-columns: repeat(3, minmax(168px, 1fr));
        column-gap: 31px;
        row-gap: 48px;
        justify-content: center;
        margin: 40px 41px 38px 41px;
    }

    .footer-bottom-row {
        padding: 32px 30px;
    }

    .carbon-neutral-card .title {
        font-size: 23px;
    }

    .carbon-neutral-card .sub-title {
        font-size: 24px;
    }
    .search-bar-form>.text{
        display: none;
    }
    .meals-cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .meals-cards-container>div{
        width: 241px;
    }
    .sign-up-container{
        width: 70%;
        padding: 16px;
    }
}

/* small screen  */
@media screen and (max-width: 425px) {
    .navigation-header {
        display: none;
    }
    .menu{
        height: 50vh;
    }
    .hamburger-header {
        display: block;
        position: absolute;
    }

    .logo-link {
        width: 30px;
    }

    nav a {
        margin-right: 10px;
        font-size: 12px;
    }

    .nav-btn {
        font-size: 10px;
    }

    .weekly-photo-section {
        display: grid;
        grid-template-columns: repeat(2, minmax(168px, 1fr));
        column-gap: 10px;
        row-gap: 20px;
        justify-content: center;
        margin: 10px 6px;
        margin-left: 10px;
    }

    .footer-bottom-row {
        padding: 32px 30px;
    }
    .top-container{
        height: 50vh;
    }
    .top-container-content h1 {
        font-size: 30px;
        width: 300px;
        color: #fff;
    }

    .top-container-img {
        background-image: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466__340.jpg");
        background-size: cover;
        height: 100%;
    }

    .btn {
        font-size: 12px;
        padding: 0 20px;
    }

    .home-page-cards {
        grid-template-columns: 1fr;
    }

    .section-title {
        font-size: 23px;
    }

    .section-description {
        font-size: 12px;
    }

    .home-page-cards {
        flex-wrap: wrap;
    }

    .home-page-section {
        margin: 0px;
    }

    .section-sub-title {
        font-size: 20px;
    }

    .testimonial-section {
        min-height: 550px;
        max-height: 536px;
        margin: 20px 0 10px;
    }

    .testimonial-card {
        max-width: 90%;
        ;
    }

    .testimonial-card>img {
        width: 100%;
    }

    .testimonial-card .title {
        padding-top: 20px;
        font-size: 16px;
    }

    .testimonial-text {
        font-size: 23px;
        min-width: 90px;
    }

    footer .container {
        grid-template: 100px 150px 100px / 1fr;
    }

    footer .container .sign-up {
        border-top: 1px solid #e4e6eb;
        border-bottom: 1px solid #e4e6eb;
        padding: 20px 0;
        margin-bottom: 5px;
    }
    .container-row-1{
        grid-template-columns: 1fr 1fr;
    }
    .search-bar-form>.text{
        display: none;
    }
    .meals-cards-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .meals-cards-container>div{
        width: 241px;
    }
    .meals-section-conainer{
        display: block;
        margin: 0;
    }
    .meals-container .meals-cards-container{
        width: 100vw;
        display: block;
        margin: 0;
    }
    .meals-cards-container > div{
        width: 95%;
        margin: 10px auto;
    }
    .meals-cards-container > div img{
        width: 100%;
    }
    #filter-heading{
        text-align: center;
    }
    .meals-filters-container{
        display: flex;
        justify-content: space-around;
    }
    #meal-image{
        width: 100%;
    }
    .meal-details-container{
        display: block;
        margin-top: 50px;
    }
    .sign-up-section{
        margin-top: 50px;
    }
    .cart-details-section{
        margin-top: 50px;
    }
    .cart-items-table tbody tr td img {
        width: 40px;
        height: 40px;
    }
    .cart-details-container{
        width: 98vw;
    }
    .cart-items-table tbody tr .item .itemText .item-title{
        font-size: 13px;
    }
    .cart-items-table tbody tr .item .itemText .item-subTitle{
        font-size: 8px;
    }
    .cart-items-table tbody tr td:nth-child(2){
        font-size: 14px;
    }
    .cart-items-table tbody tr td:nth-child(3) button{
        width: 25px;
        height: 25px;
        font-size: 14px;
    }
    .cart-items-table tbody tr td:nth-child(3) span{
        font-size: 14px;
    }
    .cart-items-table tbody tr td:nth-child(4) span{
        font-size: 14px;
    }
    .cart-items-table tbody tr td:nth-child(4) i{
        font-size: 14px;
    }
}



.hamburger-header a {
    color: #fff;
    font-family: var(--soft);
    font-size: 20px;
}

.hamburger-header ul li {
    margin-left: 20px;
    margin-bottom: 40px;
}

.sign-up-ham {
    padding: 5px 10px;
    border-radius: 3px;
    background-color: orangered;
}

.hamburger-header #ham-login {
    background-color: green;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    background: white;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}